/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */

/*Canvas elements ***************************************/
#wrapper{

    width: 100vw;
    height: 100vh;
    /*background-color:grey;*/
    position: relative;
    margin: -10px;

}

#ground {
    width: 100vw;
    height: 50px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
}

#player {
    width:  80px;
    height: 200px;
    background-image: url("../img/idle_001.png");
    position: absolute;
    bottom: 51px;
    left:50%;
    transform: translateX(-50%);



}

.idle {
    /*animation-name: idle;*/
    /*animation-duration: 5s;*/
    animation-timing-function: linear;
    /*animation-iteration-count: infinite;*/
    /*animation-delay:5s;*/
    animation: idle 2s steps(8) 1;
    animation-delay: 5s;



}
.walkLeft{
    animation-name: walkLeft;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.walkRight {
    animation-name: walkRight;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

}

/* Animations *******************************/


@keyframes idle {

    0%   {background-image: url("../img/idle_001.png");}
    15%  {background-image: url("../img/idle_002.png");}
    30% {background-image: url("../img/idle_003.png");}
    45% {background-image: url("../img/idle_004.png");}
    60% {background-image: url("../img/idle_005.png");}
    75% {background-image: url("../img/idle_004.png");}
    90% {background-image: url("../img/idle_003.png");}
    100% {background-image: url("../img/idle_002.png");}

}

@keyframes walkLeft {

    0%  {background: linear-gradient(90deg,black,black);}
    50%  {background: linear-gradient(90deg,purple,black);}
    100%  {background: linear-gradient(90deg, black,black);}

}

@keyframes walkRight {

    0%  {background: linear-gradient(90deg,black, black);}
    50%  {background: linear-gradient(90deg,black, purple);}
    100%  {background: linear-gradient(90deg, black, black);}

}