/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
#wrapper{

    width: 100vw;
    height: 100vh;
    background-color:deeppink;
    position: relative;
    margin: -10px;

}

#ground {
    width: 100vw;
    height: 50px;
    background-color: #000;
    position: absolute;
    bottom: 0;
    left: 0;
}

#player {
    width:  50px;
    height: 80px;
    background-color: yellow;
    position: absolute;
    bottom: 51px;
    left:50%;
    transform: translateX(-50%);
}